-- SpaceNix
window {
  background-color: #{{colors.surface_dim.default.hex_stripped}}40;
}
.background {
  background-color: #{{colors.surface_dim.default.hex_stripped}}40;
}
headerbar {
  background-color: #{{colors.surface_dim.default.hex_stripped}}40;
background-image: none;
}
messagedialog {
  background-color: #{{colors.surface_dim.default.hex_stripped}}40;
}